* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    text-decoration: underline;
    color: brown;
}

.maindiv {
    background-color: lightgray;
    height:930px;
}

#lab1 {
    padding-left: 40px;
    display: flex;
    font-size: 25px;
    padding: 5px;
    padding-top: 15px;
}

#t1 {
    margin-left: 111px;
    width: 215%;
    border-radius: 3px;
    font-size: 25px;
}

#t2 {
    margin-left: 113px;
    width: 214%;
    border-radius: 3px;
    font-size: 25px;
}

#t3 {
    margin-left: 162px;
    width: 192%;
    border-radius: 3px;
    font-size: 25px;
}

#t4 {
    margin-left: 149px;
    width: 198%;
    border-radius: 3px;
    font-size: 25px;
}

.radio-button {
    font-size: 25px;
}

#Female {
    margin-left: 143px;
    margin-top: 15px;
}

.dob {
    font-size: 25px;
}

#date {
    padding-right: 711px;
    margin-left: 87px;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 3px;

}

.address {
    font-size: 25px;
}

#address2 {
    margin-left: 138px;
    font-size: 25px;
    margin-top: 15px;
}

#c1 {
    margin-left: 176px;
    width: 189%;
    border-radius: 3px;
    font-size: 25px;
}

#p1 {
    margin-left: 132px;
    width: 208%;
    border-radius: 3px;
    font-size: 25px;
}

#s1 {
    margin-left: 170px;
    width: 192%;
    border-radius: 3px;
    font-size: 25px;
}

.qualify1 {
    font-size: 25px;
    margin-top: 15px;
}

#qualify2 {
    font-size: 25px;
    margin-left: 88px;
}

.checkit{
    font-size: 25px;
    margin-top: 15px;
}

#checkbox1{
    margin-left: 78px;
}

#checkbox2{
    margin-left: 233px;
}

.password{
    font-size: 25px;
    margin-top: 15px;
}

#pwd{
    font-size: 25px;
    margin-left: 128px;
    width: 61%;
    border-radius: 3px;
}

#submit{
    color: aliceblue;
    background-color: green;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 15px;
}